body{
    padding: 0;
    border: 0;
}
#vermelho { 
    position: relative;
    top: -40px;
    background: darkorange;
    width: 100%;
    height: 40px;
    
    
    
}

#imgGrande {
    width: 60px;
    height: 100%;
    left: 5px;
    top: -117px;
    border: 0px;
    padding: 0px;
    position: relative;
}


#azul {
        border: 10px solid darkblue;
        position: absolute;
        background: darkblue;
        width: 100%;
        height: 5px;
    
}







